<span>
    {% if coreParty.private %}
        <span class="glyphicon glyphicon-eye-close"></span>
        {{ 'private.party'|trans }}
    {% else %}
        <span class="glyphicon glyphicon-eye-open"></span>
        {{ 'public.party'|trans }}
    {% endif %}
</span>
{% if coreParty.disallowChat %}
    <br />
    <span>
        {{ 'chat.disabled'|trans }}
    </span>
{% endif %}
{% if coreParty.disallowObservers %}
    <br />
    <span>
        {{ 'observers.disallowed'|trans }}
    </span>
{% endif %}
