<a href="{{ current_party.link }}" class="list-group-item{% if current_party.my_turn %} my-turn{% endif %}">
    <h4 class="list-group-item-heading">{{ current_party.game.title }}</h4>
    <p class="list-group-item-text">{{ current_party.description }}</p>
</a>
