# Symfony directories
vendor
app/logs
app/cache
web/uploads
web/bundles
web/css
web/js

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Others
app/bootstrap.php.cache
composer.phar
composer.lock
*~

# Netbeans
nbproject

# Eclipse
.buildpath
.project
.settings
