{% extends "ELCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Active{% endblock %}

{% block body %}
<div class="jeux-actif">
    <h1>Active</h1>
    <p>Game screen to extends in game bundle</p>
</div>
{% endblock %}
