{% extends "ELCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'games'|trans }}{% endblock %}

{% block body %}
<div class="jeux-preparation">
    <h1>{{ 'create.game.%gametitle%'|trans({'%gametitle%': game.title}) }}</h1>
    {{ form(party_options) }}
</div>
{% endblock %}
