<a href="{{ currentParty.link }}" class="list-group-item{% if currentParty.myTurn %} my-turn{% endif %}">
    <h4 class="list-group-item-heading">{{ currentParty.game.title }}</h4>
    <p class="list-group-item-text">{{ currentParty.description }}</p>
</a>
