{# host player not me #}
<div class="btn-group slot joueur" data-playerId="{{ slot.player.id }}">
    <button type="button" class="btn btn-default player-pseudo btn-slot-11">
        {{ slot.player.pseudo }}

        {% include 'CoreBundle:Slot:_slot-player-badge.html.twig' %}
    </button>
    <button type="button" class="btn btn-default dropdown-toggle btn-slot-1" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    {% include 'CoreBundle:Slot:slot-dropdown.html.twig' %}
</div>