{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('elcore_home') }}">{{ 'home'|trans }}</a></li>
        <li class="active">{{ 'about'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}
<h2>À propos</h2>
{% endblock %}