{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - FAQ{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('elcore_home') }}">{{ 'home'|trans }}</a></li>
        <li class="active">{{ 'faq'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}
<h2>Welcome to the Frequently asked questions page</h2>
{% endblock %}
