{% extends "CoreBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
    </ol>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h2>Qu'est ce que Electron Libre ?</h2>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-justify">
        <p class="lead">
            Electron libre permet de jouer à tout type de jeu
            comme le Poker, Echecs, RISK, Dames... avec d'autres joueur
            de façon simple et immédiate :
            pas besoin de compte, jouez en tant qu'invité à partir de maintenant.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-justify">
        <p class="lead">
            Ce site offre un système de classement et de score unique :
            le nombre de victoire et de défaite est enregistré,
            mais selon le jeu, un classement Élo est proposé,
            un score permet de classer les joueurs sur un jeu,
            et vous possédez des jetons utilisable sur tous les jeux
            de type Casino.
        </p>
    </div>
</div>
{% endblock %}