{% extends "CoreBundle:Games:games.layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'ranking'|trans }}{% endblock %}

{% block body %}
{{ parent() }}

{% if ranking|length > 0 %}
    {% include 'CoreBundle:Games:_ranking-board.html.twig' %}
{% else %}
    <p>{{ 'no.rankingyet.bethefirst'|trans }}</p>
{% endif %}
{% endblock %}
