
#el_core_options_type_extendedOptions_boardSize {
    padding-right: 25px;
}

h3.gameVariant {
    margin: 32px 0 16px 0;
}
h4 {
    margin: 64px 0 16px 0;
}
#variant-select {
    font-size: 16px;
    height: 38px;
}

.checkers-personalization label.col-sm-4 {
    width: 64%;
}

#grid {
    position: relative;
    margin: 24px auto 48px auto;
}
#grid .grid-item {
    width: 64px;
    height: 64px;
}

.piece {
    position: absolute;
    width: 46px;
    height: 46px;
    margin: 9px;
    border-radius: 999px;
    background-color: white;
}
.piece-white {
    background-color: lightcoral;
    border-color: lightcoral;
}
.piece-black {
    background-color: lightblue;
    border-color: lightblue;
}
.piece-controlled {
    cursor: pointer;
}
.piece-over {
    background-color: red !important;
}
.piece-king {
    background-color: transparent;
    border-width: 12px;
    border-style: solid;
}
