{# player #}
<div class="btn-group slot joueur {% if party.host and (slot.player.id == party.host.id) %}host{% endif %}" data-player_id="{{ slot.player.id }}">
    <button type="button" class="btn btn-default player-pseudo btn-slot-12">
        {{ slot.player.pseudo }}

        {% if slot.player.badge is defined %}
            <span class="badge">{{ slot.player.badge }}</span>
        {% endif %}
    </button>
</div>