{# open #}
<div class="btn-group slot slot-open">
    <button type="button" class="btn btn-default player-pseudo btn-slot-7">
        {{ 'slot.open'|trans }}
    </button>
    <button class="btn btn-default slot-join btn-slot-5" type="button">
        {% if in_party %}
            {{ 'change.slot'|trans }}
        {% else %}
            {{ 'join'|trans }}
        {% endif %}
    </button>
</div>