{# player #}
<div class="btn-group slot joueur {% if coreParty.host and (slot.player.id == coreParty.host.id) %}host{% endif %}" data-playerId="{{ slot.player.id }}">
    <button type="button" class="btn btn-default player-pseudo btn-slot-12">
        {{ slot.player.pseudo }}

        {% include 'CoreBundle:Slot:_slot-player-badge.html.twig' %}
    </button>
</div>