

#grid {
    width: 420px;
    margin: 24px auto 0 auto;
}

.grid-item {
    display: block;
    float: left;
    width: 140px;
    height: 140px;
}
.grid-item:hover {
}

.grid-odd {
    background-color: #EEE;
}
.grid-odd.grid-value_-:hover {
    background-color: #CCC;
}
.grid-even {
    background-color: #DDD;
}
.grid-even.grid-value_-:hover {
    background-color: #BBB;
}

.grid-value_- {
    cursor: pointer;
}

.grid-value_X.grid-even {
    background-color: lightCoral;
}
.grid-value_X.grid-odd {
    background-color: #F78787;
}
.grid-value_O.grid-even {
    background-color: lightBlue;
}
.grid-value_O.grid-odd {
    background-color: #B5E0EE;
}

