<h3 class="tictactoe-title">{{ 'tictactoe.options'|trans }}</h3>
<div class="tictactoe-creation">
    <p>
        {{ 'endafter'|trans }}
        {{ form_widget(optionsForm.extendedOptions.numberOfParties) }}
        {{ form_widget(optionsForm.extendedOptions.victoryCondition) }}
    </p>
</div>