{% extends "ELCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {% trans %}Games{% endtrans %}{% endblock %}

{% block body %}
<h2>{{ 'Log in'|trans }}</h2>
{{ form(login_form) }}
{% endblock %}
