{% extends "ELCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {% trans %}Games{% endtrans %}{% endblock %}

{% block body %}
<h2>{{ 'Create account'|trans }}</h2>
{{ form(signup_form) }}
{% endblock %}
