{% extends "ELCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'games'|trans }}{% endblock %}

{% block body %}
<h2>{{ 'create.account'|trans }}</h2>
{{ form(signup_form) }}
{% endblock %}
