{# host open #}
<div class="btn-group slot slot-open">
    <button type="button" class="btn btn-default player-pseudo btn-slot-6">
        {{ 'slot.open'|trans }}
    </button>
    <button class="btn btn-default slot-join btn-slot-5" type="button">
        {% if inParty %}
            {{ 'change.slot'|trans }}
        {% else %}
            {{ 'join'|trans }}
        {% endif %}
    </button>
    <button type="button" class="btn btn-default dropdown-toggle btn-slot-1" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    {% include 'ELCoreBundle:Slot:slot-dropdown.html.twig' %}
</div>